@charset "UTF-8";

.outDiv {
	display: table;
	height: 100%;
	margin: 0 auto;
}
         

.inDiv {
	display: table-cell;
	vertical-align: middle;
	height:50px;
}
  
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
} 
form {
	width: 300px;
	border: solid;
	padding: 5px;
	background-color: white;
	border: solid; 
} 
h1, h2 {
	color: green;
	text-align: center;
	border-width: thin;
	padding: 10px;
}